@media (min-width: 48rem) {
  h1 {
    font-size: 3.5rem;
  }
  .btn-bern {
    width: auto;
  }
}

@media (min-width: 62em) {
  #delegateswon {
    min-width: 250px;
    min-height: 250px;
  }
}

@media (min-width: 75em) {
  #herojumbo{
    text-align: left;
  }
  #bernielogo {
    display: inline-block;
    float: right;
    margin: 0 auto;
    right: 2rem;
  }
  h1 {display: inline-block; float: left; margin-top: 3rem;}
}